{
    "plugins": [],
    "extends": [
        "./node_modules/kcd-scripts/eslint.js",
        "plugin:testcafe/recommended"
    ],
    "rules": {
        "babel/new-cap": "off",
        "func-names": 0,
        "no-unused-vars": 0
    }
}