{
    "plugins": [],
    "extends": [
        "./node_modules/kcd-scripts/eslint.js"
    ],
    "rules": {
        "babel/new-cap": "off",
        "func-names": 0,
        "no-unused-vars": 0,
        "babel/no-unused-expressions": 0
    }
}
